﻿@model IEnumerable<Question>

    @foreach (var q in Model)
    {
        <div>
            <h3>@q.Riddle</h3>
        </div>

        <div>
            <p>Answers:</p>
            <p>@q.PossibleAnswerOne</p>
            <p>@q.PossibleAnswerTwo</p>
            <p>@q.PossibleAnswerThree</p>
        </div>
    }
