﻿

<h3>Enter the Matrix</h3>
<form action="/" method="post">
    <p>
        <button class="btn btn-sm" asp-controller="Question" asp-action="List">enter</button>
        <button class="btn btn-sm">close</button>
    </p>



</form>

